{% extends 'admin_home.html' %}
{% load static %}
{% block title %}Admin_Home{% endblock title %}
{% block custom_css  %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
           .card {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            transition: transform 0.3s;
            text-align: center;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card h4 {
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
        }

        .card p {
            font-size: 24px;
            margin: 0;
            color: #555;
        }

        .card a {
            color: #333;
            text-decoration: none;
        }

        .card a:hover {
            text-decoration: underline;
        }

        .icon {
            font-size: 32px;
            margin-right: 10px;
        }
    </style>

{% endblock custom_css %}

{% block main-content %}
<hr><br>
 <div class="container" style="max-width: 800px; margin: 0 auto; padding: 20px;">
<div style="text-align:center; margin-bottom:20px; margin-left:25px">
    <span style="font-weight:bold; font-size:30px; text-align:center;">
                <span style="color:green; text-align:center;">Green</span>
                <span style="color:Black;text-align:center;">Tech</span>
                <span style="color:green;text-align:center;">Energy</span>
            </span>
</div>


        <div class="card">
            <h4><i class="icon fas fa-users"></i> <a href="{% url 'admin_view_enquiry' %}">Total Enquiries</a></h4>
            <p>{{ rcount }}</p>
        </div>

        <div class="card">
            <h4><i class="icon fas fa-user"></i> <a href="{% url 'admin_view_user' %}">Total Users</a></h4>
            <p>{{ scount }}</p>
        </div>

        <div class="card">
            <h4><i class="icon fas fa-box"></i> <a href="{% url 'admin_view_product' %}">Total Products</a></h4>
            <p>{{ pcount }}</p>
        </div>

        <div class="card">
            <h4><i class="icon fas fa-shopping-cart"></i> <a href="{% url 'admin_view_order' %}">Total Orders</a></h4>
            <p>{{ ocount }}</p>
        </div>

     <div class="card">
            <h4><i class="icon fa fa-comments-o"></i> <a href="{% url 'view_feedback' %}">Total Feedbacks</a></h4>
            <p>{{ fcount }}</p>
        </div>
    </div>
<br><br>
{% endblock main-content %}