{% extends 'user_home.html' %}
{% load static %}
{% block title%} User Profile {% endblock title%}
{% block main-content%}



<hr>
<h1 class="text-center" style="color:green">User Profile</h1>
<form class="container mt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--  1st Row  -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label><b> First Name </b></label>
            <input type="text" class="form-control" name="fname" placeholder="Enter First Name" value="{{user2.user.first_name}}" required>
        </div>

        <div class="form-group col-md-6">
            <label><b> Last Name </b></label>
            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" value="{{user2.user.last_name}}" required>
        </div>
    </div>



    <!--  2nd Row  -->
    <div class="form-row">
        <div class="form-group col-md-6">
        <label><b> Contact Number </b></label>
            <input type="number" class="form-control" name="contact" placeholder="Enter Contact Number" value="{{user2.contact_number}}" required>
        </div>

        <div class="form-group col-md-6">
             <label><b> Email ID </b></label>
            <input type="email" class="form-control" readonly name="email" placeholder="Enter Email ID" value="{{user2.user.email}}" required>
        </div>
    </div>

     <div class="form-row">
        <div class="form-group col-md-6">
            <label><b> Gender </b></label>
{% if user2.gender == "Male" %}
            <div style="border:1px solid lightgrey; padding:6px; border-radius:6px">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" class="custom-control-input" name="gender" value="Male" checked>
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" class="custom-control-input" name="gender" value="Female">
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" class="custom-control-input" name="gender" value="Others">
                    <label class="custom-control-label" for="customRadioInline3">Others</label>
                </div>
            </div>
            {% elif user2.gender == "Female" %}
            <div style="border:1px solid lightgrey; padding:6px; border-radius:6px">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" class="custom-control-input" name="gender" value="Male">
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" class="custom-control-input" name="gender" value="Female" checked>
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" class="custom-control-input" name="gender" value="Others">
                    <label class="custom-control-label" for="customRadioInline3">Others</label>
                </div>
            </div>
            {% else %}
            <div style="border:1px solid lightgrey; padding:6px; border-radius:6px">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" class="custom-control-input" name="gender" value="Male">
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" class="custom-control-input" name="gender" value="Female">
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" class="custom-control-input" name="gender" value="Others" checked>
                    <label class="custom-control-label" for="customRadioInline3">Others</label>
                </div>
            </div>
            {% endif %}
        </div>
</div>
   <input type="submit" value="Submit" class="btn btn-success my-3" style="width:200px">

</form>

<hr>

{% ifequal error "no" %}
<script>
    alert("Profile Update Successful");
    window.location = ('{% url 'user_index' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endifequal %}

{% endblock main-content%}
